<!doctype html>
<html lang="ko">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1'/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ken<%= ' - ' + current_article.title unless current_article.nil? %></title>
  <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>

  <%= stylesheet_link_tag 'main' %>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->

  <%= auto_display_meta_tags %>

</head>
<body>

<div id="main" role="main">
  <header>
    <div class="container">
      <div class="col-xs-12 text-center">
        <h1 class="site-name"><a href="/">Ken.md</a></h1>
        <h5 class="site-description">
          몸은 낮추고, 꿈은 높이는 삶을, 창업가“인생은 너무 짧아서 다투고, 언짢아하고, 책임 추궁하고 그럴 시간이 없다. 오로지 사랑할 시간, 순간들밖에 없더라.”@마크 트웨인
          <br/>
          <small>매순간 최선 | 스타트업 이야기 | 호기심 | 소통과 배려 </small></h5>
      </div>
    </div>
  </header>

  <div class="container">

    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <%= yield %>
      </div>
    </div>

    <footer>
      <hr/>
      <div class="row">
        <div class="col-xs-12 col-md-5 col-md-offset-2">
          <h2>Recent Articles</h2>
          <ol>
            <% blog.articles[0...10].each do |article| %>
                <li><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></li>
            <% end %>
          </ol>
        </div>

        <div class="col-xs-12 col-md-3">
          <h2>Tags</h2>
          <ol>
            <% blog.tags.each do |tag, articles| %>
                <li><%= link_to "#{tag} (#{articles.size})", tag_path(tag) %></li>
            <% end %>
          </ol>
        </div>

        <!--<div class="col-xs-12 col-md-3">-->
        <!--<h2>By Year</h2>-->
        <!--<ol>-->
        <!--
        <% blog.articles.group_by { |a| a.date.year }.each do |year, articles| %>-->
            <!--<li><%= link_to "#{year} (#{articles.size})", blog_year_path(year) %></li>-->
            <!--
        <% end %>-->
        <!--</ol>-->
        <!--</div>-->
      </div>
    </footer>
  </div>
</div>


</body>
</html>
